/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Azeret Mono", monospace;
}

/* shared style */
.title{
    font-size: 48px;
    font-weight: bolder;
    color: #0D1321;
    text-align: center;
}

.description{
    font-size: 16px;
    font-weight: 200;
    color: #0D1321;
    text-align: center;
}

.card-title{
    font-size: 24px;
    font-weight:bolder;
    color: #0D1321;

}
.card-description{
    font-size: 16px;
    font-weight: 200;
    color: #0D1321;

}

.card-btn{
    font-size: 16px;
    font-weight: bold;
    color: #0D1321;

}

/* main */
main{
    width: 1140px;
    margin: 0 auto;

}


/* header style */
.banner-section-container{
    max-width:1440px;
    height: 652px;
    margin: 0 auto;
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-content{
    width: 998px;
    height: 581px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.banner-images-container{
    width: 100%;
    height: 50%;
    text-align: center;
    margin-top: 21px;
}

.banner-images-container img{
    width: 240px;
    height: 240px;
}

.banner-text-container{
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.banner-title{
    font-size: 48px;
    font-weight: bolder;
    color: #0D1321;
}

.banner-description{
    font-size: 16px;
    font-weight: 200;
    color: #0D1321;
}

.banner-btn{
    width: 244px;
    height: 65px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
    background-color: #0D1321;
    color: #ffffff;
}


/* Development style */
.development-section-container{
    background-color: #fafafb;
    border-radius: 16px;
    margin-top: 74px;
    margin-bottom: 90px;
    padding: 80px 97px;
}

.development-test-container{
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    margin-bottom: 48px;
}
.development-test-title{
    font-size: 32px;
    font-weight: bolder;
    color: #0D1321;
}

.development-card-container{
    display: flex;
    flex-direction: column;
    gap:48px;


}

.development-card{
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 45px;
    background-color: #ffffff;
    border-radius: 16px;

}

.development-card-text{
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.development-card-images img{
    width: 240px;
    height: 240px;
}

.development-card-title{
    font-size: 24px;
    font-weight: bold;
    color: #555964;

}

.development-card-description{
    font-size: 16px;
    font-weight: 200;
    color: #555964;
}

.development-card-btn{
    padding:12px 20px ;
    font-size:20px ; 
    font-weight: 400;
    background-color: #ffffff;

}


/* My Inspiration style */
.inspiration-content-container{
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 151px;
}

.inspiration-text-title{
    font-size: 32px;
    font-weight: bolder;
    color: #0D1321;
    text-align: center;
    margin-bottom: 24px;
    
}

.inspiration-video-container{
    padding:32px;
    border-radius: 16px;
    box-shadow: 0px 0px 0px 2px rgb(228, 223, 223);
}

.inspiration-video-container iframe{
    border-radius: 16px;
}


/* My Current Target style */
.target-content-container{
    margin-bottom: 111px;
}

.target-text-container{
    margin-bottom: 48px;
}

.target-text-title{
    font-size: 32px;
    font-weight: bolder;
    color: #0D1321;
    text-align: center;
    margin-bottom: 24px;
}

.target-card-container{
    display: flex;
    gap: 24px;
}

.target-card-html{
    width: 364px;
    background-color: #fff6f3;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px;
    border-radius: 16px;
    text-align: start;
}

.target-card-css{
    width: 364px;
    background-color:#f2f6fe;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px;
    border-radius: 16px;
    text-align: start;
}

.target-card-js{
    width: 364px;
    background-color: #fffdf2;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 40px;
    border-radius: 16px;
    text-align: start;
}

.target-card img{
    width: 56px;
    height: 56px;
    
}


/* My Next Target style */
.next-target-content-container{
    margin-bottom: 49px;
}
.next-target-text-container{
    margin-bottom: 48px;
}

.next-target-text-title{
    font-size: 32px;
    font-weight: bolder;
    color: #0D1321;
    text-align: center;
    margin-bottom: 24px;
}

.next-target-card-container{
    display: flex;
    flex-direction: column;
    gap:24px;
    
}

.next-target-card{
    width: 1140px;
    display: flex;
    align-items: center;
    gap:32px;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0px 0px 0px 2px rgb(228, 223, 223);
}

.next-target-text{
    display: flex;
    flex-direction: column;
    gap:32px;

}

/* support section style */
.support-section-container{
    height: 313px;
    padding: 48px 64px;
    background-image: url('/images/handshake.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin-bottom: 80px;

}
.support-section-title{
    font-size: 32px;
    font-weight:bold;
    color: #ffffff;
    text-align: center;


}

.support-section-description{
    font-size: 16px;
    font-weight: 200;
    color: #ffffff;
    text-align: center;
    margin-top: 32px;
    margin-bottom:32px ;
}

.support-section-input{
    text-align: center;
}

.support-text-input{
    width: 548px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    padding: 20px 19px;
    margin-right: 10px;
    border: none;
}

.support-text-submit{
    width:120px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    padding: 20px 17px;
    margin-right: 10px;
    border: none;
}

/* footer style */
footer{
    width: 1440px;
    margin: 0 auto;
    padding: 32px 150px;
    background-color: #f7f8f8;
    border-radius: 18px 18px 0 0;

}
.footer-section-container{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer-text h2{
    font-size: 20px;
    font-weight: 600;
    color: #0D1321;

}

.footer-icon{
    

}
